// --------------------------------------------------------------------------
// Links
// --------------------------------------------------------------------------


a {
    transition: color ease .3s;

    &.link--red {
        color: $red;

        &:hover,
        &:active,
        &:focus {
            color: darken($red, 10%);
        }
    }

    &.link--word-wrap {
        @include word-wrap();
    }
}
